logic-app-approval-only.json
{
    "location": "westeurope",
    "properties": {
        "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "requestId": {"type": "string"},
                            "resourceType": {"type": "string"},
                            "resourceName": {"type": "string"},
                            "resourceGroup": {"type": "string"},
                            "details": {"type": "object"},
                            "userEmail": {"type": "string"},
                            "userName": {"type": "string"},
                            "estimatedCost": {"type": "string"},
                            "justification": {"type": "string"}
                        },
                        "required": ["requestId", "resourceType", "resourceName", "resourceGroup", "details", "userEmail"]
                    }
                }
            }
        },
        "actions": {
            "Parse_Request": {
                "runAfter": {},
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerBody()",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "requestId": {"type": "string"},
                            "resourceType": {"type": "string"},
                            "resourceName": {"type": "string"},
                            "resourceGroup": {"type": "string"},
                            "details": {"type": "object"},
                            "userEmail": {"type": "string"},
                            "userName": {"type": "string"},
                            "estimatedCost": {"type": "string"},
                            "justification": {"type": "string"}
                        }
                    }
                }
            },
            "Send_Approval_Email": {
                "runAfter": {
                    "Parse_Request": ["Succeeded"]
                },
                "type": "ApiConnectionWebhook",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                    },
                    "body": {
                        "NotificationUrl": "@listCallbackUrl()",
                        "Message": {
                            "To": "@body('Parse_Request')?['userEmail']",
                            "Body": "<html><body style='font-family: Segoe UI, Arial, sans-serif;'><div style='max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f5f5f5;'><div style='background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; border-radius: 10px 10px 0 0; text-align: center;'><h1 style='color: white; margin: 0;'>⚡ Deployment Approval Required</h1></div><div style='background: white; padding: 30px; border-radius: 0 0 10px 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);'><p style='font-size: 16px; color: #333;'>Hi <strong>@{body('Parse_Request')?['userName']}</strong>,</p><p style='font-size: 14px; color: #666;'>Your Azure resource deployment request is ready for approval:</p><div style='background: #f8f9fa; padding: 20px; border-radius: 8px; margin: 20px 0;'><table style='width: 100%; border-collapse: collapse;'><tr><td style='padding: 8px 0; font-weight: 600; color: #495057;'>🎯 Resource Type:</td><td style='padding: 8px 0; color: #6c757d;'>@{body('Parse_Request')?['resourceType']}</td></tr><tr><td style='padding: 8px 0; font-weight: 600; color: #495057;'>📦 Resource Name:</td><td style='padding: 8px 0; color: #6c757d;'>@{body('Parse_Request')?['resourceName']}</td></tr><tr><td style='padding: 8px 0; font-weight: 600; color: #495057;'>🗂️ Resource Group:</td><td style='padding: 8px 0; color: #6c757d;'>@{body('Parse_Request')?['resourceGroup']}</td></tr><tr><td style='padding: 8px 0; font-weight: 600; color: #495057;'>💰 Estimated Cost:</td><td style='padding: 8px 0; color: #6c757d;'>@{body('Parse_Request')?['estimatedCost']}</td></tr><tr><td style='padding: 8px 0; font-weight: 600; color: #495057;'>📝 Justification:</td><td style='padding: 8px 0; color: #6c757d;'>@{body('Parse_Request')?['justification']}</td></tr><tr><td style='padding: 8px 0; font-weight: 600; color: #495057;'>🆔 Request ID:</td><td style='padding: 8px 0; color: #6c757d; font-family: monospace; font-size: 12px;'>@{body('Parse_Request')?['requestId']}</td></tr><tr><td style='padding: 8px 0; font-weight: 600; color: #495057;'>💻 Command:</td><td style='padding: 8px 0; color: #6c757d; font-family: monospace; font-size: 11px; background: #f8f9fa; padding: 10px; border-radius: 4px; word-break: break-all;'>@{body('Parse_Request')?['details']?['command']}</td></tr></table></div><p style='font-size: 14px; color: #666;'>Please review and approve or reject this deployment:</p></div></div></body></html>",
                            "Importance": "High",
                            "Subject": "🚀 Approval Required: @{body('Parse_Request')?['resourceName']} (@{body('Parse_Request')?['resourceType']})",
                            "Options": "Approve, Reject"
                        }
                    },
                    "path": "/approvalmail/$subscriptions"
                }
            },
            "Check_Response": {
                "actions": {
                    "Send_Approved_Notification": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                }
                            },
                            "method": "post",
                            "body": {
                                "To": "@body('Parse_Request')?['userEmail']",
                                "Subject": "✅ Request Approved - Deployment Starting: @{body('Parse_Request')?['resourceName']}",
                                "Body": "<html><body style='font-family: Segoe UI, Arial, sans-serif;'><div style='max-width: 600px; margin: 0 auto; padding: 20px;'><div style='background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%); padding: 30px; border-radius: 10px; text-align: center; color: white;'><h1 style='margin: 0;'>✅ Request Approved</h1></div><div style='background: white; padding: 30px; border: 1px solid #e0e0e0; border-radius: 0 0 10px 10px;'><p style='font-size: 16px; color: #333;'>Hi <strong>@{body('Parse_Request')?['userName']}</strong>,</p><p>Your deployment request has been <strong>approved</strong>. The resource is now being deployed...</p><div style='background: #f8f9fa; padding: 15px; border-radius: 5px; margin: 15px 0;'><p style='margin: 5px 0;'><strong>Resource:</strong> @{body('Parse_Request')?['resourceName']}</p><p style='margin: 5px 0;'><strong>Type:</strong> @{body('Parse_Request')?['resourceType']}</p><p style='margin: 5px 0;'><strong>Resource Group:</strong> @{body('Parse_Request')?['resourceGroup']}</p><p style='margin: 5px 0;'><strong>Request ID:</strong> @{body('Parse_Request')?['requestId']}</p><p style='margin: 5px 0;'><strong>Approved By:</strong> @{body('Send_Approval_Email')?['Responder']}</p></div><p style='font-size: 14px; color: #666;'>You will receive another email once the deployment is complete and verified.</p></div></div></body></html>",
                                "Importance": "Normal"
                            },
                            "path": "/v2/Mail"
                        },
                        "runAfter": {}
                    }
                },
                "runAfter": {
                    "Send_Approval_Email": ["Succeeded"]
                },
                "else": {
                    "actions": {
                        "Send_Rejection_Email": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "To": "@body('Parse_Request')?['userEmail']",
                                    "Subject": "❌ Deployment Rejected: @{body('Parse_Request')?['resourceName']}",
                                    "Body": "<html><body style='font-family: Segoe UI, Arial, sans-serif;'><div style='max-width: 600px; margin: 0 auto; padding: 20px;'><div style='background: linear-gradient(135deg, #eb3349 0%, #f45c43 100%); padding: 30px; border-radius: 10px; text-align: center; color: white;'><h1 style='margin: 0;'>❌ Deployment Rejected</h1></div><div style='background: white; padding: 30px; border: 1px solid #e0e0e0; border-radius: 0 0 10px 10px;'><p style='font-size: 16px; color: #333;'>Hi <strong>@{body('Parse_Request')?['userName']}</strong>,</p><p>Your deployment request for <strong>@{body('Parse_Request')?['resourceName']}</strong> has been rejected.</p><div style='background: #f8f9fa; padding: 15px; border-radius: 5px; margin: 15px 0;'><p style='margin: 5px 0;'><strong>Resource:</strong> @{body('Parse_Request')?['resourceName']}</p><p style='margin: 5px 0;'><strong>Request ID:</strong> @{body('Parse_Request')?['requestId']}</p><p style='margin: 5px 0;'><strong>Rejected By:</strong> @{body('Send_Approval_Email')?['Responder']}</p></div><p style='font-size: 14px; color: #666;'>If you believe this was in error, please contact your administrator.</p></div></div></body></html>",
                                    "Importance": "Normal"
                                },
                                "path": "/v2/Mail"
                            }
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@body('Send_Approval_Email')?['SelectedOption']",
                                "Approve"
                            ]
                        }
                    ]
                },
                "type": "If"
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
        },
        "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "office365": {
                    "id": "/subscriptions/b28cc86b-8f84-47e5-a38a-b814b44d047e/providers/Microsoft.Web/locations/westeurope/managedApis/office365",
                    "connectionId": "/subscriptions/b28cc86b-8f84-47e5-a38a-b814b44d047e/resourceGroups/Az-AICost-Agent-RG/providers/Microsoft.Web/connections/office365",
                    "connectionName": "office365",
                    "connectionProperties": {}
                }
            }
        }
    }
}
