logic-app-workflow-deploy.json
{
    "location": "westeurope",
    "properties": {
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "triggers": {
                "manual": {
                    "type": "Request",
                    "kind": "Http",
                    "inputs": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {"type": "string"},
                                "resourceType": {"type": "string"},
                                "resourceName": {"type": "string"},
                                "resourceGroup": {"type": "string"},
                                "details": {"type": "object"},
                                "userEmail": {"type": "string"},
                                "userName": {"type": "string"},
                                "estimatedCost": {"type": "string"},
                                "justification": {"type": "string"},
                                "location": {"type": "string"}
                            },
                            "required": ["requestId", "resourceType", "resourceName", "resourceGroup", "details", "userEmail"]
                        }
                    }
                }
            },
            "actions": {
                "Parse_Request": {
                    "runAfter": {},
                    "type": "ParseJson",
                    "inputs": {
                        "content": "@triggerBody()",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {"type": "string"},
                                "resourceType": {"type": "string"},
                                "resourceName": {"type": "string"},
                                "resourceGroup": {"type": "string"},
                                "details": {"type": "object"},
                                "userEmail": {"type": "string"},
                                "userName": {"type": "string"},
                                "estimatedCost": {"type": "string"},
                                "justification": {"type": "string"},
                                "location": {"type": "string"}
                            }
                        }
                    }
                },
                "Send_Approval_Email": {
                    "runAfter": {"Parse_Request": ["Succeeded"]},
                    "type": "ApiConnectionWebhook",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['office365-1']['connectionId']"
                            }
                        },
                        "body": {
                            "NotificationUrl": "@listCallbackUrl()",
                            "Message": {
                                "To": "@body('Parse_Request')?['userEmail']",
                                "Body": "<html><body style='font-family: Segoe UI, Arial, sans-serif;'><div style='max-width: 700px; margin: 0 auto; padding: 20px; background-color: #f5f5f5;'><div style='background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; border-radius: 10px 10px 0 0; text-align: center;'><h1 style='color: white; margin: 0;'>⚡ Deployment Approval Required</h1></div><div style='background: white; padding: 30px; border-radius: 0 0 10px 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);'><p style='font-size: 16px; color: #333;'>Hi <strong>@{body('Parse_Request')?['userName']}</strong>,</p><p style='font-size: 14px; color: #666;'>Your Azure resource deployment request is ready for approval:</p><div style='background: #f8f9fa; padding: 20px; border-radius: 8px; margin: 20px 0;'><table style='width: 100%; border-collapse: collapse;'><tr><td style='padding: 8px 0; font-weight: 600; color: #495057;'>🎯 Resource Type:</td><td style='padding: 8px 0; color: #6c757d;'>@{body('Parse_Request')?['resourceType']}</td></tr><tr><td style='padding: 8px 0; font-weight: 600; color: #495057;'>📦 Resource Name:</td><td style='padding: 8px 0; color: #6c757d;'>@{body('Parse_Request')?['resourceName']}</td></tr><tr><td style='padding: 8px 0; font-weight: 600; color: #495057;'>🗂️ Resource Group:</td><td style='padding: 8px 0; color: #6c757d;'>@{body('Parse_Request')?['resourceGroup']}</td></tr><tr><td style='padding: 8px 0; font-weight: 600; color: #495057;'>💰 Estimated Cost:</td><td style='padding: 8px 0; color: #6c757d;'>@{body('Parse_Request')?['estimatedCost']}</td></tr><tr><td style='padding: 8px 0; font-weight: 600; color: #495057;'>📝 Justification:</td><td style='padding: 8px 0; color: #6c757d;'>@{body('Parse_Request')?['justification']}</td></tr><tr><td style='padding: 8px 0; font-weight: 600; color: #495057;'>🆔 Request ID:</td><td style='padding: 8px 0; color: #6c757d; font-family: monospace; font-size: 12px;'>@{body('Parse_Request')?['requestId']}</td></tr></table></div><div style='background: #fff3cd; padding: 15px; border-radius: 8px; margin: 20px 0; border-left: 4px solid #ffc107;'><h3 style='margin-top: 0; color: #856404;'>🔍 ARM Template Details</h3><pre style='background: white; padding: 15px; border-radius: 5px; overflow-x: auto; font-size: 11px; max-height: 400px; overflow-y: auto;'>@{string(body('Parse_Request')?['details'])}</pre></div><p style='font-size: 14px; color: #666;'>Please review the ARM template above and approve or reject this deployment:</p></div></div></body></html>",
                                "Importance": "High",
                                "Subject": "🚀 Approval Required: @{body('Parse_Request')?['resourceName']} (@{body('Parse_Request')?['resourceType']})",
                                "Options": "Approve, Reject"
                            }
                        },
                        "path": "/approvalmail/$subscriptions"
                    }
                },
                "Check_Response": {
                    "actions": {
                        "Check_Deployment_Scope": {
                            "actions": {
                                "Deploy_Resource_Group": {
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "https://management.azure.com/subscriptions/b28cc86b-8f84-47e5-a38a-b814b44d047e/providers/Microsoft.Resources/deployments/deployment-@{body('Parse_Request')?['requestId']}?api-version=2021-04-01",
                                        "method": "PUT",
                                        "body": {
                                            "location": "@body('Parse_Request')?['location']",
                                            "properties": {
                                                "mode": "Incremental",
                                                "template": "@body('Parse_Request')?['details']",
                                                "parameters": {}
                                            }
                                        },
                                        "authentication": {
                                            "type": "ManagedServiceIdentity",
                                            "audience": "https://management.azure.com"
                                        }
                                    }
                                }
                            },
                            "runAfter": {},
                            "else": {
                                "actions": {
                                    "Deploy_Other_Resource": {
                                        "type": "Http",
                                        "inputs": {
                                            "uri": "https://management.azure.com/subscriptions/b28cc86b-8f84-47e5-a38a-b814b44d047e/resourcegroups/@{body('Parse_Request')?['resourceGroup']}/providers/Microsoft.Resources/deployments/deployment-@{body('Parse_Request')?['requestId']}?api-version=2021-04-01",
                                            "method": "PUT",
                                            "body": {
                                                "properties": {
                                                    "mode": "Incremental",
                                                    "template": "@body('Parse_Request')?['details']",
                                                    "parameters": {}
                                                }
                                            },
                                            "authentication": {
                                                "type": "ManagedServiceIdentity",
                                                "audience": "https://management.azure.com"
                                            }
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@body('Parse_Request')?['resourceType']",
                                            "Resource Group"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Send_Success_Email": {
                            "runAfter": {"Check_Deployment_Scope": ["Succeeded"]},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365-1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "To": "@body('Parse_Request')?['userEmail']",
                                    "Subject": "✅ Deployment Successful: @{body('Parse_Request')?['resourceName']}",
                                    "Body": "<html><body style='font-family: Segoe UI, Arial, sans-serif;'><div style='max-width: 600px; margin: 0 auto; padding: 20px;'><div style='background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%); padding: 30px; border-radius: 10px; text-align: center; color: white;'><h1 style='margin: 0;'>✅ Deployment Successful!</h1></div><div style='background: white; padding: 30px; border: 1px solid #e0e0e0; border-radius: 0 0 10px 10px;'><p style='font-size: 16px; color: #333;'>Hi <strong>@{body('Parse_Request')?['userName']}</strong>,</p><p>Your resource <strong>@{body('Parse_Request')?['resourceName']}</strong> has been successfully deployed!</p><div style='background: #f8f9fa; padding: 15px; border-radius: 5px; margin: 15px 0;'><p style='margin: 5px 0;'><strong>Resource:</strong> @{body('Parse_Request')?['resourceName']}</p><p style='margin: 5px 0;'><strong>Type:</strong> @{body('Parse_Request')?['resourceType']}</p><p style='margin: 5px 0;'><strong>Resource Group:</strong> @{body('Parse_Request')?['resourceGroup']}</p><p style='margin: 5px 0;'><strong>Request ID:</strong> @{body('Parse_Request')?['requestId']}</p><p style='margin: 5px 0;'><strong>Deployed At:</strong> @{utcNow()}</p></div><p style='font-size: 14px; color: #666;'>You can now access your resource in the Azure Portal.</p></div></div></body></html>",
                                    "Importance": "Normal"
                                },
                                "path": "/v2/Mail"
                            }
                        },
                        "Send_Failure_Email": {
                            "runAfter": {"Check_Deployment_Scope": ["Failed", "TimedOut"]},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365-1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "To": "@body('Parse_Request')?['userEmail']",
                                    "Subject": "⚠️ Deployment Failed: @{body('Parse_Request')?['resourceName']}",
                                    "Body": "<html><body style='font-family: Segoe UI, Arial, sans-serif;'><div style='max-width: 700px; margin: 0 auto; padding: 20px;'><div style='background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%); padding: 30px; border-radius: 10px; text-align: center; color: white;'><h1 style='margin: 0;'>⚠️ Deployment Failed</h1></div><div style='background: white; padding: 30px; border: 1px solid #e0e0e0; border-radius: 0 0 10px 10px;'><p style='font-size: 16px; color: #333;'>Hi <strong>@{body('Parse_Request')?['userName']}</strong>,</p><p>Unfortunately, the deployment of <strong>@{body('Parse_Request')?['resourceName']}</strong> failed.</p><div style='background: #fff3cd; padding: 15px; border-radius: 5px; margin: 15px 0; border-left: 4px solid #ffc107;'><p style='margin: 5px 0;'><strong>Resource:</strong> @{body('Parse_Request')?['resourceName']}</p><p style='margin: 5px 0;'><strong>Request ID:</strong> @{body('Parse_Request')?['requestId']}</p><p style='margin: 5px 0;'><strong>Status:</strong> @{coalesce(body('Deploy_Resource_Group')?['properties']?['provisioningState'], body('Deploy_Other_Resource')?['properties']?['provisioningState'], 'Failed')}</p><p style='margin: 5px 0;'><strong>Error:</strong> @{coalesce(body('Deploy_Resource_Group')?['error']?['message'], body('Deploy_Other_Resource')?['error']?['message'], 'Unknown error')}</p></div><div style='background: #f8d7da; padding: 15px; border-radius: 5px; margin: 15px 0; border-left: 4px solid #dc3545;'><h4 style='margin-top: 0; color: #721c24;'>🔍 Template That Was Sent:</h4><pre style='background: white; padding: 10px; border-radius: 5px; overflow-x: auto; font-size: 10px; max-height: 300px; overflow-y: auto;'>@{string(body('Parse_Request')?['details'])}</pre></div><p style='font-size: 14px; color: #666;'>Please check the Azure Portal Activity Log for more details or contact your administrator.</p></div></div></body></html>",
                                    "Importance": "High"
                                },
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "runAfter": {"Send_Approval_Email": ["Succeeded"]},
                    "else": {
                        "actions": {
                            "Send_Rejection_Email": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['office365-1']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "body": {
                                        "To": "@body('Parse_Request')?['userEmail']",
                                        "Subject": "❌ Deployment Rejected: @{body('Parse_Request')?['resourceName']}",
                                        "Body": "<html><body style='font-family: Segoe UI, Arial, sans-serif;'><div style='max-width: 600px; margin: 0 auto; padding: 20px;'><div style='background: linear-gradient(135deg, #eb3349 0%, #f45c43 100%); padding: 30px; border-radius: 10px; text-align: center; color: white;'><h1 style='margin: 0;'>❌ Deployment Rejected</h1></div><div style='background: white; padding: 30px; border: 1px solid #e0e0e0; border-radius: 0 0 10px 10px;'><p style='font-size: 16px; color: #333;'>Hi <strong>@{body('Parse_Request')?['userName']}</strong>,</p><p>Your deployment request for <strong>@{body('Parse_Request')?['resourceName']}</strong> has been rejected.</p><div style='background: #f8f9fa; padding: 15px; border-radius: 5px; margin: 15px 0;'><p style='margin: 5px 0;'><strong>Resource:</strong> @{body('Parse_Request')?['resourceName']}</p><p style='margin: 5px 0;'><strong>Request ID:</strong> @{body('Parse_Request')?['requestId']}</p><p style='margin: 5px 0;'><strong>Rejected By:</strong> @{body('Send_Approval_Email')?['Responder']}</p></div><p style='font-size: 14px; color: #666;'>If you believe this was in error, please contact your administrator.</p></div></div></body></html>",
                                        "Importance": "Normal"
                                    },
                                    "path": "/v2/Mail"
                                }
                            }
                        }
                    },
                    "expression": {
                        "and": [
                            {
                                "equals": [
                                    "@body('Send_Approval_Email')?['SelectedOption']",
                                    "Approve"
                                ]
                            }
                        ]
                    },
                    "type": "If"
                }
            },
            "outputs": {},
            "parameters": {
                "$connections": {
                    "type": "Object",
                    "defaultValue": {}
                }
            }
        },
        "parameters": {
            "$connections": {
                "value": {
                    "office365-1": {
                        "id": "/subscriptions/b28cc86b-8f84-47e5-a38a-b814b44d047e/providers/Microsoft.Web/locations/westeurope/managedApis/office365",
                        "connectionId": "/subscriptions/b28cc86b-8f84-47e5-a38a-b814b44d047e/resourceGroups/Az-AICost-Agent-RG/providers/Microsoft.Web/connections/office365-1",
                        "connectionName": "office365-1",
                        "connectionProperties": {}
                    }
                }
            }
        }
    }
}
