logic-app-with-automation-final.json
{
    "location": "westeurope",
    "properties": {
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
                "$connections": {
                    "type": "Object",
                    "defaultValue": {}
                },
                "automationWebhookUrl": {
                    "type": "String",
                    "defaultValue": "https://5895088f-0d9e-4c81-9e0d-51396715abec.webhook.we.azure-automation.net/webhooks?token=VH%2b9QAL6%2bD031sj0PNoU0Dw3%2fwaDTZUgrXf68BEq0bg%3d"
                }
            },
            "triggers": {
                "manual": {
                    "type": "Request",
                    "kind": "Http",
                    "inputs": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {"type": "string"},
                                "resourceType": {"type": "string"},
                                "resourceName": {"type": "string"},
                                "resourceGroup": {"type": "string"},
                                "details": {"type": "object"},
                                "userEmail": {"type": "string"},
                                "userName": {"type": "string"},
                                "estimatedCost": {"type": "string"},
                                "justification": {"type": "string"},
                                "location": {"type": "string"}
                            }
                        }
                    }
                }
            },
            "actions": {
                "Parse_Request": {
                    "runAfter": {},
                    "type": "ParseJson",
                    "inputs": {
                        "content": "@triggerBody()",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {"type": "string"},
                                "resourceType": {"type": "string"},
                                "resourceName": {"type": "string"},
                                "resourceGroup": {"type": "string"},
                                "details": {"type": "object"},
                                "userEmail": {"type": "string"},
                                "userName": {"type": "string"},
                                "estimatedCost": {"type": "string"},
                                "justification": {"type": "string"},
                                "location": {"type": "string"}
                            }
                        }
                    }
                },
                "Send_Approval_Email": {
                    "runAfter": {"Parse_Request": ["Succeeded"]},
                    "type": "ApiConnectionWebhook",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['office365']['connectionId']"
                            }
                        },
                        "body": {
                            "Message": {
                                "To": "@body('Parse_Request')?['userEmail']",
                                "Subject": "⚡ Deployment Approval Required: @{body('Parse_Request')?['resourceName']}",
                                "Options": "Approve, Reject",
                                "Body": "<html><body style='font-family:Segoe UI'><h2>⚡ Approval Required</h2><p><strong>Resource:</strong> @{body('Parse_Request')?['resourceName']}</p><p><strong>Type:</strong> @{body('Parse_Request')?['resourceType']}</p><p><strong>Group:</strong> @{body('Parse_Request')?['resourceGroup']}</p><p><strong>Cost:</strong> @{body('Parse_Request')?['estimatedCost']}</p><p><strong>Command:</strong><br><code>@{body('Parse_Request')?['details']?['command']}</code></p></body></html>",
                                "Importance": "High"
                            },
                            "NotificationUrl": "@{listCallbackUrl()}"
                        },
                        "path": "/approvalmail/$subscriptions"
                    }
                },
                "Check_Approval": {
                    "runAfter": {"Send_Approval_Email": ["Succeeded"]},
                    "type": "If",
                    "expression": {
                        "and": [{
                            "equals": ["@body('Send_Approval_Email')?['SelectedOption']", "Approve"]
                        }]
                    },
                    "actions": {
                        "Execute_via_Automation": {
                            "type": "Http",
                            "inputs": {
                                "method": "POST",
                                "uri": "@parameters('automationWebhookUrl')",
                                "headers": {"Content-Type": "application/json"},
                                "body": {
                                    "Command": "@{body('Parse_Request')?['details']?['command']}",
                                    "ResourceName": "@{body('Parse_Request')?['resourceName']}",
                                    "ResourceGroup": "@{body('Parse_Request')?['resourceGroup']}",
                                    "ResourceType": "@{body('Parse_Request')?['resourceType']}",
                                    "RequestId": "@{body('Parse_Request')?['requestId']}"
                                }
                            },
                            "runAfter": {}
                        },
                        "Parse_Automation_Response": {
                            "runAfter": {"Execute_via_Automation": ["Succeeded", "Failed"]},
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Execute_via_Automation')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {"type": "string"},
                                        "message": {"type": "string"},
                                        "resourceName": {"type": "string"}
                                    }
                                }
                            }
                        },
                        "Check_Deployment_Result": {
                            "runAfter": {"Parse_Automation_Response": ["Succeeded"]},
                            "type": "If",
                            "expression": {
                                "and": [{
                                    "equals": ["@body('Parse_Automation_Response')?['status']", "success"]
                                }]
                            },
                            "actions": {
                                "Send_Success_Email": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "body": {
                                            "To": "@body('Parse_Request')?['userEmail']",
                                            "Subject": "✅ Deployment Successful: @{body('Parse_Request')?['resourceName']}",
                                            "Body": "<html><body style='font-family:Segoe UI'><h2 style='color:green'>✅ Deployment Complete!</h2><p><strong>Resource:</strong> @{body('Parse_Request')?['resourceName']}</p><p><strong>Status:</strong> <span style='color:green'>Successfully deployed and verified</span></p><p><strong>Message:</strong> @{body('Parse_Automation_Response')?['message']}</p><p><strong>Resource Group:</strong> @{body('Parse_Request')?['resourceGroup']}</p><p><strong>Request ID:</strong> @{body('Parse_Request')?['requestId']}</p></body></html>",
                                            "Importance": "Normal"
                                        },
                                        "path": "/v2/Mail"
                                    }
                                }
                            },
                            "else": {
                                "actions": {
                                    "Send_Failure_Email": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "body": {
                                                "To": "@body('Parse_Request')?['userEmail']",
                                                "Subject": "❌ Deployment Failed: @{body('Parse_Request')?['resourceName']}",
                                                "Body": "<html><body style='font-family:Segoe UI'><h2 style='color:red'>❌ Deployment Failed</h2><p><strong>Resource:</strong> @{body('Parse_Request')?['resourceName']}</p><p><strong>Status:</strong> <span style='color:red'>@{body('Parse_Automation_Response')?['status']}</span></p><p><strong>Error:</strong> @{body('Parse_Automation_Response')?['message']}</p><p><strong>Request ID:</strong> @{body('Parse_Request')?['requestId']}</p></body></html>",
                                                "Importance": "High"
                                            },
                                            "path": "/v2/Mail"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "else": {
                        "actions": {
                            "Send_Rejection_Email": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['office365']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "body": {
                                        "To": "@body('Parse_Request')?['userEmail']",
                                        "Subject": "❌ Deployment Rejected: @{body('Parse_Request')?['resourceName']}",
                                        "Body": "<html><body style='font-family:Segoe UI'><h2 style='color:red'>❌ Request Rejected</h2><p>Your deployment request for <strong>@{body('Parse_Request')?['resourceName']}</strong> has been rejected.</p></body></html>",
                                        "Importance": "Normal"
                                    },
                                    "path": "/v2/Mail"
                                }
                            }
                        }
                    }
                }
            }
        },
        "parameters": {
            "$connections": {
                "value": {
                    "office365": {
                        "id": "/subscriptions/b28cc86b-8f84-47e5-a38a-b814b44d047e/providers/Microsoft.Web/locations/westeurope/managedApis/office365",
                        "connectionId": "/subscriptions/b28cc86b-8f84-47e5-a38a-b814b44d047e/resourceGroups/Az-AICost-Agent-RG/providers/Microsoft.Web/connections/office365",
                        "connectionName": "office365"
                    }
                }
            }
        }
    }
}
